@font-face{
   src:url(../fonts/google-font/Poppins-Bold.ttf);
   font-family: Poppins-Bold;
}
@font-face{
   src:url(../fonts/google-font/Roboto-Medium.ttf);
   font-family: Roboto-Medium;
}
@font-face{
   src:url(../fonts/google-font/BebasNeue-Regular.ttf);
   font-family: BebasNeue-Regular;
}
@font-face{
   src:url(../fonts/google-font/Cookie-Regular.ttf);
   font-family: Cookie-Regular;
}

/* .........................
Nav Menu Start
......................... */
.brand-text-font{
   font-family: Poppins-Bold;
   color: rgb(11, 10, 79);
}
.menu-font-color{
   
}
@media only screen and (min-width:992px) {
   .nav-menu{
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-around !important;
      align-items: center !important;
   }
}
/* .........................
Nav Menu End
......................... */

/* .........................
Carousel Slider
......................... */
.carousel-item{
   height: 80vh;
   min-width: 300px;
}
.carousel-item::before{
   content: '';
   display: block;
   position: absolute;
   top: 0px;
   left: 0px;
   bottom: 0px;
   right: 0px;
   background: rgba(0, 0, 0, 0.338);
   
}
.carousel-item img{
   height: 80vh;
}
.carousel-item h1{
   font-size: 4em;
   margin: 0px auto;
}
.carousel-caption {
   text-align: center !important;
   margin: 0px auto;
}
.text-content{
   padding-top: 10px;
   position: absolute !important;
   top: 58%;
   left: 50%;
   transform: translate(-50%, -58%);
}

@media only screen and (min-width:1400px) {
   .carousel-item h1{
      font-size: 4em;
      width: 38rem
   }

}
@media only screen and (min-width:768px) and (max-width:991px){
   .carousel-item h1{
      font-size: 3em;
   }

}
@media only screen and (min-width:576px) and (max-width:767px){
   .carousel-item h1{
      font-size: 2.5rem;
   }

}

@media only screen and (max-width:575px) and (min-width:0px){
   .carousel-item h1{
      font-size: 2em;
   }
}

/* Discover section start  */
.discover-header h1{
   color: rgb(11, 10, 79);
   width: 25rem;
}
/* .discover-header p{
   width: 35rem;
} */

@media only screen and (min-width:1200px){
   .discover-header p{
      width: 35rem;
   }
}

@media only screen and (max-width:767px) and (min-width:576px){
   .discover-img img{
      width: 100vw;
      height: 40vh !important;
      
   }
}
@media only screen and (max-width:575px) and (min-width:0px){
   .discover-img img{
      width: 100vw;
      height: 40vh !important;
      
   }
   .discover-header h1{
      width: 15rem;
   }
   .discover-header p{
      font-size: 1.5rem;
      width: 20rem;
      text-align: center !important;
      /* padding: 20px; */
   }
}

